<div class="blog-main">
    <% page.posts.each(function(post){ %>
      <article class="article-main">
              <header class="article-header">
                  <h1 itemprop="name">
                      <a href="<%- url_for(post.path) %>" class="article-title"><%- post.title %></a>
                  </h1>
              </header>
              <%if(post.noDate != "true"){%>
              <div class="article-meta">
                  <div class="article-dateTime">
                      <a href="<%- url_for(post.path) %>" class="article-date">
                          <time datetime="<%= date(post.date, 'MMM Do YYYY') %>" itemprop="datePublished">
                              <%- date(post.date, 'MMM Do YYYY') %>
                          </time>
                      </a>
                  </div>
              </div>
              <% } %>
              <div class="article-inner">
                  <div class="article-entry" itemprop="articleBody">
                      <%- post.excerpt %>
                  </div>
                  <p class="article-more-link">
                      <a href="<%- url_for(post.path) %>#more">
                          <%= theme.excerpt_link %>>
                      </a>
                  </p>
              </div>
      </article>
    <% }) %>
    <%- partial('post/paginator') %>
</div>
